<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>WebPortal Main</title>
<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/XXX.png}" sizes="192x192"
	href="../static/img/XXX.png">
<link rel="shortcut icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="58x58">
<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
</head>
<body th:classappend="${session.isDarkmode} ? 'mode-dark'">
	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/css/config.png}" src="../static/css/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h2>受験報告新規登録作成</h2>
			<hr>
			<form method="post" th:action="@{/exam/examInsert}" id="form_user"
				th:object="${userForm}">
				<p>	企業名 先頭カナ3文字</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('recruitment')}?'has-error'">
					<input type="number" class="form-control" name="recruitment"
						placeholder="xxx" th:field="*{recruitment}"> <span
						class="text-danger" th:if="${#fields.hasErrors('recruitment')}"
						th:errors="*{recruitment}">recruitment error</span>
				</div>

				<p>求人番号</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('recruitment')}?'has-error'">
					<input type="number" class="form-control" name="recruitment"
						placeholder="xxx" th:field="*{recruitment}"> <span
						class="text-danger" th:if="${#fields.hasErrors('recruitment')}"
						th:errors="*{recruitment}">recruitment error</span>
				</div>
				<p>企業名</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('company')}?'has-error'">
					<input type="text" class="form-control" name="company"
						placeholder="株式会社xxx" th:field="*{company}"> <span
						class="text-danger" th:if="${#fields.hasErrors('company')}"
						th:errors="*{company}">company error</span>
				</div>
				<p>試験の申し込み経路</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('route')}?'has-error'">
					<input type="checkbox" name="riyu" value="1">学校斡旋 <input
						type="checkbox" name="riyu" value="1">ネット <input
						type="checkbox" name="riyu" value="1">斡旋サイト <input
						type="checkbox" name="riyu" value="1">企業HP <input
						type="checkbox" name="riyu" value="1">新聞・雑誌 <input
						type="checkbox" name="riyu" value="1">ジョブカフェ等 <input
						type="checkbox" name="riyu" value="1">その他 <span
						class="text-danger" th:if="${#fields.hasErrors('route')}"
						th:errors="*{route}">route error</span>
				</div>
				<p>日時</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('user_id')}?'has-error'">
					<input type="datetime-local" class="form-control" name="date_time"
						th:field="*{date_time}"> <span
						class="text-danger" th:if="${#fields.hasErrors('user_id')}"
						th:errors="*{user_id}">user_id error</span>
				</div>
				<p>受験場所</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('user_id')}?'has-error'">
					<input type="text" class="form-control" name="user_id"
						placeholder="xxxxxxx@xxx.xxx" th:field="*{user_id}"> <span
						class="text-danger" th:if="${#fields.hasErrors('user_id')}"
						th:errors="*{user_id}">user_id error</span>
				</div>
		</div>
		<span class="input-group-btn"> <input type="submit" id="action"
			class="btn btn-warning" value="登録">
		</span>
		</form>
	</div>
	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>