<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>WebPortal Main</title>
<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/XXX.png}" sizes="192x192"
	href="../static/img/XXX.png">
<link rel="shortcut icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="58x58">
<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
</head>
<body th:classappend="${session.isDarkmode} ? 'mode-dark'">
	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/change}"> <img class="config-img"
						th:src="@{/css/config.png}" src="../static/css/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h2>受験報告更新画面</h2>
			<hr>
			<form method="post" th:action="@{/exam/examUpdate}"
				th:object="${examFormForUpdate}">
				<label for="department">学科コード</label>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('department')} ? 'has-error'">
					<input type="text" class="form-control" name="department"
						placeholder="x" th:field="*{department}"> <span
						class="text-danger" th:if="${#fields.hasErrors('department')}"
						th:errors="*{department}">department error</span>
				</div>
				<p>企業先頭カナ3文字</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('company_name_top')} ? 'has-error'">
					<input type="text" class="form-control" name="company_name_top"
						placeholder="xxx" th:field="*{company_name_top}"> <span
						class="text-danger"
						th:if="${#fields.hasErrors('company_name_top')}"
						th:errors="*{company_name_top}">company_name_top error</span>
				</div>
				<p>求人番号</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('recruitment_number')} ? 'has-error'">
					<input type="text" class="form-control" name="recruitment_number"
						placeholder="xxx" th:field="*{recruitment_number}"> <span
						class="text-danger"
						th:if="${#fields.hasErrors('recruitment_number')}"
						th:errors="*{recruitment_number}">recruitment_number error</span>
				</div>
				<p>企業名</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('company_name')} ? 'has-error'">
					<input type="text" class="form-control" name="company_name"
						placeholder="株式会社xxx" th:field="*{company_name}"> <span
						class="text-danger" th:if="${#fields.hasErrors('company_name')}"
						th:errors="*{company_name}">company_name error</span>
				</div>
				<label for="application_route">試験の申込経路</label>
				<div class="form-group input-box">
					<div th:each="item : ${radioRoute}">
						<input type="radio" name="application_route" th:text="${item.key}"
							th:value="${item.value}" th:field="*{application_route}">
					</div>
					<span class="text-danger"
						th:if="${#fields.hasErrors('application_route')}"
						th:errors="*{application_route}">application_route error</span>
				</div>
				<p>日時</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('exam_date_time')} ? 'has-error'">
					<input type="datetime-local" class="form-control"
						name="exam_date_time" th:field="*{exam_date_time}"> <span
						class="text-danger" th:if="${#fields.hasErrors('exam_date_time')}"
						th:errors="*{exam_date_time}">exam_date_time error</span>
				</div>
				<p>受験場所</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('examination_location')} ? 'has-error'">
					<input type="text" class="form-control" name="examination_location"
						placeholder="xxx" th:field="*{examination_location}"> <span
						class="text-danger"
						th:if="${#fields.hasErrors('examination_location')}"
						th:errors="*{examination_location}">examination_location
						error</span>
				</div>
				<label for="contens_test">試験内容</label>
				<div class="form-group input-box">
					<div th:each="item : ${radioTest}">
						<input type="radio" name="contens_test" th:text="${item.key}"
							th:value="${item.value}" th:field="*{contens_test}">
					</div>
					<span class="text-danger"
						th:if="${#fields.hasErrors('contens_test')}"
						th:errors="*{contens_test}">contens_test error</span>
				</div>
				<p>備考</p>
				<div class="form-group input-box"
					th:classappend="${#fields.hasErrors('remarks')} ? 'has-error'">
					<input type="text" class="form-control" name="remarks"
						placeholder="xxxxxxx" th:field="*{remarks}"> <span
						class="text-danger" th:if="${#fields.hasErrors('remarks')}"
						th:errors="*{remarks}">remarks error</span>
				</div>

				<span class="input-group-btn"> <input type="submit"
					id="action" class="btn btn-warning" value="更新">
				</span>
		</div>

		</form>
	</div>
	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>