<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>WebPortal UserDetail</title>
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">

<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="icon" th:href="@{/css/WP.png}" sizes="192x192"
	href="../static/css/WP.png">
<link rel="shortcut icon" th:href="@{/css/WP.png}">
<link rel="apple-touch-icon" th:href="@{/css/WP.png}">
<link rel="apple-touch-icon" th:href="@{/css/WP.png}" sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/css/WP.png}" sizes="58x58">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">

<style>
.view-mail {
	font-size: 1.5rem;
}
</style>

</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">
	<!-- common header bg-danger managed-link -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/user/profileUpdate}"> <img class="config-img"
						th:src="@{/css/config.png}" src="../static/css/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- contents -->
	<div class="container">
		<div class="content-box" th:object="${examdata}">
			<h2>受験報告詳細画面</h2>
			<label for="examreport_id">受験報告ID</label>
			<p class="form-group input-box" th:text="*{examreport_id}"></p>
			<input type="hidden" name="examreport_id" th:value="*{examreport_id}">

			<label for="user_class">クラス</label>
			<p class="form-group input-box" th:text="*{user_class}"></p>
			<input type="hidden" name="user_class" th:value="*{user_class}">
			<label for="user_student_no">番号</label>
			<p class="form-group input-box" th:text="*{user_student_no}"></p>
			<input type="hidden" name="user_student_no"
				th:value="*{user_student_no}"> <label for="user_name">氏名</label>
			<p class="form-group input-box" th:text="*{user_name}"></p>
			<input type="hidden" name="user_name" th:value="*{user_name}">

			<label for="department">学科コード</label>
			<p class="form-group input-box" th:text="*{department}"></p>
			<input type="hidden" name="department" th:value="*{department}">

			<label for="company_name_top">企業先頭カナ3文字</label>
			<p class="form-group input-box" th:text="*{company_name_top}"></p>
			<input type="hidden" name="company_name_top"
				th:value="*{company_name_top}"> <label for="report_day">報告日</label>
			<p class="form-group input-box" th:text="*{report_day}"></p>
			<input type="hidden" name="report_day" th:value="*{report_day}">

			<label for="recruitment_number">求人番号</label>
			<p class="form-group input-box" th:text="*{recruitment_number}"></p>
			<input type="hidden" name="recruitment_number"
				th:value="*{recruitment_number}"> <label for="company_name">企業名</label>
			<p class="form-group input-box" th:text="*{company_name}"></p>
			<input type="hidden" name="company_name" th:value="*{company_name}">

			<label for="Application_route">試験の申込経路</label>
			<p class="form-group input-box" th:text="*{Application_route}"></p>
			<input type="hidden" name="Application_route"
				th:value="*{Application_route}"> <label for="exam_date_time">日時</label>
			<p class="form-group input-box" th:text="*{exam_date_time}"></p>
			<input type="hidden" name="exam_date_time"
				th:value="*{exam_date_time}"> <label
				for="examination_location">受験場所</label>
			<p class="form-group input-box" th:text="*{examination_location}"></p>
			<input type="hidden" name="examination_location"
				th:value="*{examination_location}"> <label
				for="contens_test">試験内容</label>
			<p class="form-group input-box" th:text="*{contens_test}"></p>
			<input type="hidden" name="contens_test" th:value="*{contens_test}">

			<label for="remarks">備考</label>
			<p class="form-group input-box" th:text="*{remarks}"></p>
			<input type="hidden" name="remarks" th:value="*{remarks}"> <label
				for="Exam_report_status">報告状態</label>
			<p class="form-group input-box" th:text="*{Exam_report_status}"></p>
			<input type="hidden" name="Exam_report_status"
				th:value="*{Exam_report_status}">

			<td class="text-nowrap" sec:authorize="hasRole('ROLE_TEACHER')"><a class="btn btn-success"
				th:href="@{'/exam/examApproval/' + *{examreport_id}}">承認</a></td>

			<td class="text-nowrap"><a class="btn btn-success"
				th:href="@{'/exam/examUpdate/' + *{examreport_id}}">更新</a></td>

		</div>

	</div>

	<!-- common js -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>