<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<title>WebPortal Main</title>

<!-- モバイル設定 -->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="manifest" th:href="@{/css/manifest.json}"
	crossorigin="use-credentials">
<meta name="application-name" content="WebPortal">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="WebPortal">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- アイコン設定 -->
<link rel="icon" th:href="@{/img/XXX.png}" sizes="192x192"
	href="../static/img/XXX.png">
<link rel="shortcut icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="192x192">
<link rel="apple-touch-icon" th:href="@{/img/XXX.png}" sizes="58x58">

<!-- スタイル設定 -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ress.css}"
	href="../static/css/ress.css">
<link rel="stylesheet" th:href="@{/css/home.css}"
	href="../static/css/home.css">
</head>

<body th:classappend="${session.isDarkmode} ? 'mode-dark'">

	<!-- 共通ヘッダ -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">就活ポータル.com</a>
		</h1>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarToggler" aria-controls="navbarToggler"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/user/profileUpdate}"> <img class="config-img"
						th:src="@{/css/config.png}" src="../static/css/config.png">
				</a></li>
				<li>
					<form class="my-2 my-lg-0" method="post" th:action="@{/logout}">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- コンテンツ -->
	<div class="container text-left">
		<div class="content-box">

			<h2>就職活動申請・報告一覧画面</h2>

			<td class="text-nowrap"><a class="btn btn-success"
				th:href="@{'/job/jobInsert'}">作成</a></td>

			<h2>就職活動申請書検索</h2>
			<form class="form-inline" method="post" th:action="@{/job/search}">
				<input type="text" class="form-control" name="search_job_id"
					th:value="${search_job_id}" placeholder="報告状況 : あいまい検索"
					size=30> <input type="text" class="form-control"
					name="search_action_day" th:value="${search_action_day}"
					placeholder="日時 : あいまい検索" size=30><input type="text" class="form-control"
					name="search_user_name" th:value="${search_user_name}"
					placeholder="氏名 : あいまい検索" size=30><input type="text" class="form-control"
					name="search_company_name" th:value="${search_company_name}"
					placeholder="会社名 : あいまい検索" size=30>
				<button type="submit" class="btn btn-success">検索</button>
			</form>
			<hr>



			<table class="table table-hover table-striped table-responsive">
				<tr>
					<th class="text-nowrap">報告状況</th>
					<th class="text-nowrap">日時</th>
					<th class="text-nowrap">氏名</th>
					<th class="text-nowrap">会社名</th>
				</tr>
				<tr th:each="job : ${jobHuntingEntity.joblist}" th:object="${job}">
					<td class="text-nowrap" th:text="*{examination_status_id}"></td>
					<td class="text-nowrap" th:text="*{action_day}"></td>
					<td class="text-nowrap" th:text="*{user_name}"></td>
					<td class="text-nowrap" th:text="*{company_name}"></td>
					<td class="text-nowrap"><a class="btn btn-success"
						th:href="@{'/job/jobDetail/' + *{examination_report_id}}">詳細</a></td>
				</tr>
			</table>

			<form method="post" th:action="@{/job/csv}">
				<button type="submit" class="btn btn-info" sec:authorize="hasRole('ROLE_TEACHER')">CSV出力</button>
			</form>


		</div>
	</div>

	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>